# Задание

In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv("../datasets/kaggle_survey_2022_responses.csv", low_memory=False)
tmp2 = data.iloc[0].loc['Q2'] # строка индекс 0 столбец с названием Q2
data['Q2'].iloc[2] # столбец с названием Q2 | строка 2
data['Q2'].value_counts() # столбец с названием Q2 | с выводом подсчета количества значений
data['Q2'].value_counts().idxmax() # # столбец с названием Q2 | с выводом макс id строки
data.drop(0, inplace=True)

Узнай самый часто встречаемый возраст респондентов

In [2]:
age = data['Q2'].value_counts().idxmax()
cnt = data['Q2'].value_counts().max()
print(f'Age {age} with cnt {cnt}')

Age 18-21 with cnt 4559

## Задание 2

Посчитай долю женщин среди русских участником опроса, которые уже не студенты. Результат округли до 2х цифры после запятой

In [3]:
all = ((data['Q5'].str.contains('No')) &  (data['Q4'] == 'Russia'))
# print(all)
all_sum = all.sum()
women_cnt = ((data['Q5'].str.contains('No')) &  (data['Q4'] == 'Russia' ) & (data['Q3'] == 'Woman')).sum()
round(women_cnt/all_sum, 2)

0.24

## Задание 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до 2х знаков после запятой

In [4]:
time = (data['Duration (in seconds)'])
round(time.astype(int).mean() / 60 ,2)

168.17

## Задание 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [6]:
q6_columns = [col for col in data.columns if col.startswith('Q6')]
# data[q6_columns]
platforms = data[q6_columns].melt(var_name='Из колонки', value_vars=q6_columns)
platforms['value'].value_counts().iloc[:3]

Coursera                                                 9699
University Courses (resulting in a university degree)    6780
Kaggle Learn Courses                                     6628
Name: value, dtype: int64

## Задание 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

Узнай средний доход 'Data Scientist' и 'Machine Learning/ MLops Engineer' \
Т.к в колонке Q29 у на промежуток, то возьмите среднее значение из промежкутка. Например '15,000-19,999' - 17500, '125,000-149,999' - 137500. >$1,000,000 - оставляем 1000000

In [8]:

data_only_science = data[data['Q23'] == 'Data Scientist']
q12 = [col for col in data.columns if (col.startswith('Q12'))]
data_only_science[q12].melt()['value'].value_counts().head(5)

Python        1808
SQL           1140
R              530
Bash           248
Javascript     187
Name: value, dtype: int64

## Задание 6

In [5]:
Ds  = data[data['Q23'] == 'Data Scientist']
ds_lst = Ds['Q29'].dropna().to_list()
Ml  = data[data['Q23'] == 'Machine Learning/ MLops Engineer']
ml_lst = Ml['Q29'].dropna().to_list()
# qq = data[data['Q23'] == 'Machine Learning/ MLops Engineer']['Q29'].dropna()
def mean_from_lst(ds_lst):
    salary = []
    trans_table = str.maketrans({'-': ' ', '>' : '', '<' : '', ',' : '', '$' : ''})
    for token in ds_lst:
        token = token.translate(trans_table)
        token = token.split()
        if (len(token)  == 2):
            token = int((int(token[0]) + int(token[1])  + 1) / 2)
        else:
            token = int(token[0])
        salary.append(token)
    return np.mean(salary)
print(mean_from_lst(ds_lst) ,mean_from_lst(ml_lst))

70337.23653395784 67437.74703557312

## Задание 7 - Дополнительное задание

Найдите какой-нибудь интересный инсайт из этих данных. Пишите свои интересные инсайты в чат проекта с хэштегом.
#инсайт

Автор самого интересного инсайта получит p2p баллы. Поверь, они тебе понадобятся

Небольшой конспект

In [4]:
# t = data[data['Q2'] == '30-34']['Q2'].value_counts()
data[['Q2', 'Q3']]
data.loc[[5, 10, 15],['Q2', 'Q3']] # по названию
data.iloc[[4, 9, 14],[1, 2]] # по индексу
data.iloc[[4, 9, 14], 1:3] # по индексу
data['Duration (in seconds)'] == '851' # булевая маска
data[data['Duration (in seconds)'] == '851'].iloc[::1 , 0]
data[data['Duration (in seconds)'].isin(['851', '1550'])].iloc[::1 , 0] # isin(['851', '1550'])] сравнивает со множетсвом
data[(data['Duration (in seconds)'] == '851') | (data['Duration (in seconds)'] == '1550')].iloc[::1 , 0] 
data['Q6_1']
print(data['Q6_1'].notna().sum()) # маска без пустых клеток notna || isna
# data[data['Duration (in seconds)'] > 200]
data.sort_values(['Duration (in seconds)', 'Q2'], ascending=[False, True]).iloc[0:10, 0:2] # сортировка 
data.groupby('Q5')['Q3'].describe() # agg(['mean', 'median'])
data.groupby(['Q5', 'Q3'])['Q4'].describe()
data['Q5'].value_counts() # == data.groupby(['Q5'])[['Q5']].count()
tmp = data.iloc[0:10, 0:6]
tmp.melt(id_vars=['Q2', 'Q3', 'Q4'])

data_only_science = data[data['Q23'].isin(['Data Scientist'])]
q12 = [col for col in data.columns if (col.startswith('Q12'))]
# data_only_science[q12].melt().iloc[::1, 1].dropna().value_counts().head(5)


 # melt типо разворот таблицы
data_only_science.melt(value_vars= q12)['value'].value_counts().head(5)

9699

Python        1808
SQL           1140
R              530
Bash           248
Javascript     187
Name: value, dtype: int64

Задание 7:
Определение страны c самой большой и маленькой зарплатой  и вывод на экран статистики зарплат по всем странам

In [6]:
countrries = [k for k,v in data['Q4'].value_counts().to_dict().items()]
salaries = [mean_from_lst(data[data['Q4'] == counry]['Q29'].dropna().to_list()) for counry in countrries]
uniq_and_fifa = dict(zip(salaries, countrries))
val_max = sorted(uniq_and_fifa, reverse=True)[0]
val_min = sorted(uniq_and_fifa, reverse=False)[0]
print(f'Max_average salary is {val_max} in {uniq_and_fifa[val_max]}\nMin_average salary is {val_min} in {uniq_and_fifa[val_min]}')
print(pd.DataFrame(index=uniq_and_fifa.values(), data=uniq_and_fifa.keys()))

Max_average salary is 149769.00278940029 in United States of America
Min_average salary is 2712.121212121212 in Ethiopia
                                                                0
India                                                25065.399485
United States of America                            149769.002789
Other                                                41443.737769
Brazil                                               33733.732877
Nigeria                                               7511.006289
Pakistan                                              9755.725191
Japan                                                49524.024024
China                                                37858.796296
Egypt                                                20340.659341
Mexico                                               27347.122302
Indonesia                                            11162.735849
Turkey                                               26539.473684
Russia                                               20989.130435
South Korea                                          49675.572519
France                                               83633.211679
United Kingdom of Great Britain and Northern Ir...   99991.007194
Spain                                                52510.714286
Canada                                               85322.649573
Colombia                                             26036.516854
Bangladesh                                           11267.441860
Taiwan                                               36640.909091
Viet Nam                                             11527.272727
Argentina                                            16597.972973
Kenya                                                15389.534884
Italy                                                42766.853933
Morocco                                              34898.809524
Australia                                           135362.068966
Thailand                                             27774.509804
Tunisia                                              19200.000000
Peru                                                 15218.750000
Iran, Islamic Republic of...                          9034.482759
Chile                                                25347.222222
Poland                                               41506.756757
South Africa                                         35540.540541
Philippines                                          13489.583333
Netherlands                                          71354.166667
Ghana                                                20500.000000
Israel                                              132512.195122
Germany                                              76156.250000
Ethiopia                                              2712.121212
United Arab Emirates                                 71970.588235
Portugal                                             44505.952381
Saudi Arabia                                         47500.000000
Ukraine                                              23738.636364
Sri Lanka                                            48687.500000
Nepal                                                24807.692308
Malaysia                                             18267.857143
Singapore                                            77081.081081
Cameroon                                             13366.666667
Algeria                                               4000.000000
Hong Kong (S.A.R.)                                   58980.769231
Zimbabwe                                            143750.000000
Ecuador                                              20083.333333
Ireland                                              89233.333333
Belgium                                              65409.090909
Romania                                              32931.818182
Czech Republic                                       61490.384615
I do not wish to disclose my location                31625.000000